// Google Fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(//fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url(//fonts.googleapis.com/css?family=Nunito:400,300,700);
// Imports
//@import "compass";
@import "partials/typography";
@import "partials/buttons";
@import "partials/colors";
@import "partials/layout";
@import "partials/icons";
/* ==========================================================================
Global Styles
========================================================================== */
.group:after {
  content: "";
  display: table;
  clear: both;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
a {
  color: $accent-color;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
}
a:hover,
a:focus {
  color: $accent-color-hover;
  text-decoration: none;
}
body {
  font-family: $sans-serif;
  font-weight: $light;
  color: $txt-primary;
  -webkit-text-size-adjust: 100%;
  //fix for iOS
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.section-padding {
  padding: $section-padding;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter:alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter:alpha(opacity=90);
  opacity: 0.9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #000;
  border-radius: 4px;
}
/* ==========================================================================
Animations
========================================================================== */
.pulse2 {
  animation-name: pulse2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes pulse2 {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.floating-arrow {
  animation-name: floating-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating-arrow {
  from {
    transform: translate(-50%, 0);
  }
  65% {
    transform: translate(-50%, 15px);
  }
  to {
    transform: translate(-50%, 0);
  }
}
.floating-logo {
  animation-name: floating-logo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating-logo {
  from {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 10px);
  }
  to {
    transform: translate(-50%, 0);
  }
}
/* ==========================================================================
Waypoinsts
========================================================================== */
.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6,
.wp7,
.wp8,
.wp9 {
  visibility: hidden;
}
.education-wp1-left,
.education-wp1-right,
.education-wp2-left,
.education-wp2-right,
.education-wp3-left,
.education-wp3-right,
.work-experience-wp1-left,
.work-experience-wp1-right,
.work-experience-wp2-left,
.work-experience-wp2-right,
.work-experience-wp3-left,
.work-experience-wp3-right {
  visibility: hidden;
}

.education-wp1-right,
.education-wp2-right,
.education-wp3-right,
.work-experience-wp1-right,
.work-experience-wp2-right,
.work-experience-wp3-right {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.technical-expertise-wp2 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-transition-delay: 0.5s; /* Safari */
   transition-delay: 0.5s;
}
.technical-expertise-wp3 {
  -webkit-transition-delay: 1s; /* Safari */
   transition-delay: 1s;
}
.wp2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.bounceInLeft,
.bounceInRight,
.fadeInUp,
.fadeInUpDelay,
.fadeInDown,
.fadeInUpD,
.fadeInLeft,
.fadeInRight,
.bounceInDown,
.slideInLeft,
.zoomIn {
  visibility: visible;
}
/* ==========================================================================
Navigation
========================================================================== */
.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer;
}
.nav-toggle:focus {
  outline: none;
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer;
}
.nav-toggle span:before {
  top: -10px;
}
.nav-toggle span:after {
  bottom: -10px;
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.nav-toggle.active span {
  background-color: transparent;
}
.nav-toggle.active span:before,
.nav-toggle.active span:after {
  top: 0;
}
.nav-toggle.active span:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle.active span:after {
  top: 10px;
  -moz-transform: translatey(-10px) rotate(-45deg);
  -ms-transform: translatey(-10px) rotate(-45deg);
  -o-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg);
}
.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}
/* ==========================================================================
Hero
========================================================================== */
.hero {
  min-height: 750px;
  background: url('../img/site-hero.jpeg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  .down-arrow a {
    color: $txt-light;
  }
  h1 {
    color: $txt-light;
    margin-bottom: 40px;
  }
  p.intro {
    color: $txt-light;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px;
  }
  .hero-content {
    padding-top: 26%;
  }
  .logo a p {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 15px;
    margin: 0;
  }
}
.navigation {
  transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.fixed {
  position: fixed;
  background-color: #232731;
  z-index: 999;
  width: 100%;
}
header {
  padding: 50px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: relative;
  width: 1170px;
  margin: 0 auto;
  transition: padding 300ms ease-in-out;
  a {
    color: $txt-light;
    text-transform: uppercase;
    font-size: $nav-font-size;
    &.login {
      margin-right: 20px;
    }
  }
  .logo {
    display: inline-block;
  }
  ul.primary-nav {
    margin: 0 0 0 60px;
    padding: 0;
    li {
      display: inline;
      a {
        color: $txt-light;
        padding-right: 25px;
        &:hover {
          color: $accent-color;
        }
      }
      &:last-child a {
        padding-right: 0;
      }
    }
  }
  ul.member-actions {
    li {
      display: inline;
      a {
        color: $txt-light;
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
  .header-nav {
    display: inline-block;
  }
  .member-actions {
    position: absolute;
    right: 0;
    top: 41px;
    transition: all 300ms ease-in-out;
  }
}
.down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
/* ==========================================================================
Intro
========================================================================== */
.aboutme {
  padding: 100px 0;
  background-color: $section-dark;
  h1 {
    color: $h2-color;
    font-size: 15px;
    margin: 0 0 30px 140px;
    font-weight: bold;
  }
  .avatar {
    width: 111px;
    height: 110px;
    position: absolute;
  }
  p {
    margin: 0 0 20px 140px;
    line-height: 30px;
  }
}
/* ==========================================================================
Intro
========================================================================== */
.intro span.icon {
  font-size: 40px;
  color: $accent-color;
  font-weight: bold;
}
.intro-icon {
  display: inline-block;
  vertical-align: top;
  padding: 6px 0 0;
  margin-right: 20px;
  width: 40px;
}
.intro-content {
  display: inline-block;
  width: 80%;
}
/* ==========================================================================
.education
========================================================================== */
.education {
  position: relative;
  background-color: $section-dark;
  .education-stack {
    border-left: 3px dotted $keyline-color;
    .education-item {
      display: block;
      .circle {
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-left: -11px;
        border: 2px solid $accent-color;
        background: $white-color;
        border-radius: 50%;
        vertical-align: top;
      }
      .row {
        display: inline-block;
        padding-left: 10px;
        width: 100%;
      }
      .education-item-content {
        padding-left: 30px;
        padding-bottom: 30px;
        h5 {
          font-size: 20px;
          margin-top: 0;
        }
        .dates {
          color: $txt-accent;
          font-weight: 400;
        }
        .location {
          color: $txt-accent;
        }
        .description {
          color: $accent-color;
          font-weight: 600;
        }
      }
      .education-image {
        text-align: center;
        img {
          max-width: 100%;
        }
        span {
          font-size: 10em;
        }
      }
    }
  }
}
/* ==========================================================================
.work-experience
========================================================================== */
.work-experience {
  position: relative;
  .work-experience-stack {
    border-left: 3px dotted $keyline-color;
    .work-experience-item {
      display: block;
      .circle {
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-left: -11px;
        border: 2px solid $accent-color;
        background: $white-color;
        border-radius: 50%;
        vertical-align: top;
      }
      .row {
        display: inline-block;
        padding-left: 10px;
        width: 100%;
      }
      .work-experience-item-content {
        padding-left: 30px;
        padding-bottom: 30px;
        h5 {
          font-size: 20px;
          margin-top: 0;
        }
        .dates {
          color: $txt-accent;
          font-weight: 400;
        }
        .position {
          color: $accent-color;
          font-weight: 600;
        }
        .location {
          color: $txt-accent;
        }
        .description {
          h6 {}
          ul {
            li {
              i {}
            }
          }
        }
      }
      .work-experience-image {
        text-align: center;
        img {
          max-width: 100%;
          max-height: 120px;
        }
        span {
          font-size: 10em;
        }
      }
    }
  }
}
/* ==========================================================================
.technical-expertise
========================================================================== */
.technical-expertise {
  background-color: $section-dark;
  padding: 60px 0;
  h1 {
    padding: 20px 0 40px;
  }
  h2 {
    padding-top: 20px;
  }
  .technical-list {
    padding: 0 15px;
    .technical-item {
      padding: 15px 0 5px;
      border-bottom: solid 1px $keyline-color;
      .technical-header {
        width: 100%;
        .technical-title {
          display: inline-block;
          font-size: 20px;
        }
        .technical-time {
          float: right;
          line-height: 40px;
        }
      }
      .progress-bar {
        background: $accent-color-light;
        border-radius: 15px;
        width: 100%;
        height: 15px;
        .progress-content {
          background: $accent-color-hover;
          margin-top: -4px;
          height: 23px;
          border-radius: 15px;
          border: 2px solid $section-dark;
          width: 5%;
          -webkit-transition: width 2s;
          /* Safari */
          transition: width 2s;
        }
        .percentage{
          visibility:hidden;
        }
      }
    }
  }
}
/* ==========================================================================
To top
========================================================================== */
.to-top {
  height: 60px;
  background-color: $to-top-bg;
  .to-top-wrap {
    height: 60px;
    width: 70px;
    position: absolute;
    right: 0;
    text-align: center;
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: $white-color;
      background-color: rgba(0, 0, 0, 0.15);
    }
    a:hover,
    a:focus {
      background-color: rgba(0, 0, 0, 0.40);
    }
    i {
      font-size: 30px;
      line-height: 55px;
    }
  }
  .row {
    position: relative;
  }
}
/* ==========================================================================
Footer
========================================================================== */
footer {
  background-color: $footer-primary;
  position: relative;
  .contact {
    h1 {
      color: $white-color;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    p {
      font-size: 15px;
      line-height: 30px;
      color: $txt-accent;
      margin-bottom: 15px;
    }
    a {
      color: $accent-color;
    }
  }
  p {
    color: $txt-accent;
    font-size: $nav-font-size;
  }
  a {
    color: $txt-light;
  }
  a:hover {
    color: $accent-color;
  }
  ul.footer-group {
    border-top: solid 1px #4E566C;
    padding-top: 25px;
    margin-bottom: 45px;
  }
  ul.footer-group li {
    display: inline-block;
  }
  ul.footer-group li a {
    font-size: $nav-font-size;
    text-transform: uppercase;
  }
  ul.footer-group li a:hover {
    color: $accent-color;
  }
  ul.footer-group li {
    margin-right: 30px;
  }
  ul.footer-group li:last-child {
    margin-right: 0;
  }
  span.fa-heart {
    color: #ff415c;
    font-size: 15px;
    margin: 0 2px;
  }
  .social-share {
    position: absolute;
    background-color: #373D4A;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 42px 0 0 70px;
    p {
      color: $txt-light;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    a.twitter-share {
      height: 60px;
      width: 60px;
      background-color: #1AB4EF;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center;
      margin-right: 20px;
    }
    a.twitter-share:hover,
    a.twitter-share:focus {
      background-color: #1590BF;
    }
    a.facebook-share:hover,
    a.facebook-share:focus {
      background-color: #324C85;
    }
    a.facebook-share {
      height: 60px;
      width: 60px;
      background-color: #3B5898;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center;
    }
    a.linkedin-share {
      height: 60px;
      width: 60px;
      background-color: #0077B5;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center;
      margin-right: 20px;
    }
    a.linkedin-share:hover,
    a.linkedin-share:focus {
      background-color: #009FF2;
    }
    a {
      color: $txt-light;
    }
    a:hover {
      color: $txt-light;
    }
    a i {
      margin-top: 20px;
    }
  }
  .footer-links {
    margin: 30px 0 120px;
  }
}
/* ==========================================================================
Icon font (http://www.elegantthemes.com/blog/freebie-of-the-week/free-line-style-icons)
========================================================================== */
@font-face {
  font-family: 'et-line';
  src: url('../fonts/et-line.eot');
  src: url('../fonts/et-line.eot?#iefix') format('embedded-opentype'), url('../fonts/et-line.woff') format('woff'), url('../fonts/et-line.ttf') format('truetype'), url('../fonts/et-line.svg#et-line') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'et-line';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mobile,
.icon-laptop,
.icon-desktop,
.icon-tablet,
.icon-phone,
.icon-document,
.icon-documents,
.icon-search,
.icon-clipboard,
.icon-newspaper,
.icon-notebook,
.icon-book-open,
.icon-browser,
.icon-calendar,
.icon-presentation,
.icon-picture,
.icon-pictures,
.icon-video,
.icon-camera,
.icon-printer,
.icon-toolbox,
.icon-briefcase,
.icon-wallet,
.icon-gift,
.icon-bargraph,
.icon-grid,
.icon-expand,
.icon-focus,
.icon-edit,
.icon-adjustments,
.icon-ribbon,
.icon-hourglass,
.icon-lock,
.icon-megaphone,
.icon-shield,
.icon-trophy,
.icon-flag,
.icon-map,
.icon-puzzle,
.icon-basket,
.icon-envelope,
.icon-streetsign,
.icon-telescope,
.icon-gears,
.icon-key,
.icon-paperclip,
.icon-attachment,
.icon-pricetags,
.icon-lightbulb,
.icon-layers,
.icon-pencil,
.icon-tools,
.icon-tools-2,
.icon-scissors,
.icon-paintbrush,
.icon-magnifying-glass,
.icon-circle-compass,
.icon-linegraph,
.icon-mic,
.icon-strategy,
.icon-beaker,
.icon-caution,
.icon-recycle,
.icon-anchor,
.icon-profile-male,
.icon-profile-female,
.icon-bike,
.icon-wine,
.icon-hotairballoon,
.icon-globe,
.icon-genius,
.icon-map-pin,
.icon-dial,
.icon-chat,
.icon-heart,
.icon-cloud,
.icon-upload,
.icon-download,
.icon-target,
.icon-hazardous,
.icon-piechart,
.icon-speedometer,
.icon-global,
.icon-compass,
.icon-lifesaver,
.icon-clock,
.icon-aperture,
.icon-quote,
.icon-scope,
.icon-alarmclock,
.icon-refresh,
.icon-happy,
.icon-sad,
.icon-facebook,
.icon-twitter,
.icon-googleplus,
.icon-rss,
.icon-tumblr,
.icon-linkedin,
.icon-dribbble {
  font-family: 'et-line';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}
.icon-mobile:before {
  content: "\e000";
}
.icon-laptop:before {
  content: "\e001";
}
.icon-desktop:before {
  content: "\e002";
}
.icon-tablet:before {
  content: "\e003";
}
.icon-phone:before {
  content: "\e004";
}
.icon-document:before {
  content: "\e005";
}
.icon-documents:before {
  content: "\e006";
}
.icon-search:before {
  content: "\e007";
}
.icon-clipboard:before {
  content: "\e008";
}
.icon-newspaper:before {
  content: "\e009";
}
.icon-notebook:before {
  content: "\e00a";
}
.icon-book-open:before {
  content: "\e00b";
}
.icon-browser:before {
  content: "\e00c";
}
.icon-calendar:before {
  content: "\e00d";
}
.icon-presentation:before {
  content: "\e00e";
}
.icon-picture:before {
  content: "\e00f";
}
.icon-pictures:before {
  content: "\e010";
}
.icon-video:before {
  content: "\e011";
}
.icon-camera:before {
  content: "\e012";
}
.icon-printer:before {
  content: "\e013";
}
.icon-toolbox:before {
  content: "\e014";
}
.icon-briefcase:before {
  content: "\e015";
}
.icon-wallet:before {
  content: "\e016";
}
.icon-gift:before {
  content: "\e017";
}
.icon-bargraph:before {
  content: "\e018";
}
.icon-grid:before {
  content: "\e019";
}
.icon-expand:before {
  content: "\e01a";
}
.icon-focus:before {
  content: "\e01b";
}
.icon-edit:before {
  content: "\e01c";
}
.icon-adjustments:before {
  content: "\e01d";
}
.icon-ribbon:before {
  content: "\e01e";
}
.icon-hourglass:before {
  content: "\e01f";
}
.icon-lock:before {
  content: "\e020";
}
.icon-megaphone:before {
  content: "\e021";
}
.icon-shield:before {
  content: "\e022";
}
.icon-trophy:before {
  content: "\e023";
}
.icon-flag:before {
  content: "\e024";
}
.icon-map:before {
  content: "\e025";
}
.icon-puzzle:before {
  content: "\e026";
}
.icon-basket:before {
  content: "\e027";
}
.icon-envelope:before {
  content: "\e028";
}
.icon-streetsign:before {
  content: "\e029";
}
.icon-telescope:before {
  content: "\e02a";
}
.icon-gears:before {
  content: "\e02b";
}
.icon-key:before {
  content: "\e02c";
}
.icon-paperclip:before {
  content: "\e02d";
}
.icon-attachment:before {
  content: "\e02e";
}
.icon-pricetags:before {
  content: "\e02f";
}
.icon-lightbulb:before {
  content: "\e030";
}
.icon-layers:before {
  content: "\e031";
}
.icon-pencil:before {
  content: "\e032";
}
.icon-tools:before {
  content: "\e033";
}
.icon-tools-2:before {
  content: "\e034";
}
.icon-scissors:before {
  content: "\e035";
}
.icon-paintbrush:before {
  content: "\e036";
}
.icon-magnifying-glass:before {
  content: "\e037";
}
.icon-circle-compass:before {
  content: "\e038";
}
.icon-linegraph:before {
  content: "\e039";
}
.icon-mic:before {
  content: "\e03a";
}
.icon-strategy:before {
  content: "\e03b";
}
.icon-beaker:before {
  content: "\e03c";
}
.icon-caution:before {
  content: "\e03d";
}
.icon-recycle:before {
  content: "\e03e";
}
.icon-anchor:before {
  content: "\e03f";
}
.icon-profile-male:before {
  content: "\e040";
}
.icon-profile-female:before {
  content: "\e041";
}
.icon-bike:before {
  content: "\e042";
}
.icon-wine:before {
  content: "\e043";
}
.icon-hotairballoon:before {
  content: "\e044";
}
.icon-globe:before {
  content: "\e045";
}
.icon-genius:before {
  content: "\e046";
}
.icon-map-pin:before {
  content: "\e047";
}
.icon-dial:before {
  content: "\e048";
}
.icon-chat:before {
  content: "\e049";
}
.icon-heart:before {
  content: "\e04a";
}
.icon-cloud:before {
  content: "\e04b";
}
.icon-upload:before {
  content: "\e04c";
}
.icon-download:before {
  content: "\e04d";
}
.icon-target:before {
  content: "\e04e";
}
.icon-hazardous:before {
  content: "\e04f";
}
.icon-piechart:before {
  content: "\e050";
}
.icon-speedometer:before {
  content: "\e051";
}
.icon-global:before {
  content: "\e052";
}
.icon-compass:before {
  content: "\e053";
}
.icon-lifesaver:before {
  content: "\e054";
}
.icon-clock:before {
  content: "\e055";
}
.icon-aperture:before {
  content: "\e056";
}
.icon-quote:before {
  content: "\e057";
}
.icon-scope:before {
  content: "\e058";
}
.icon-alarmclock:before {
  content: "\e059";
}
.icon-refresh:before {
  content: "\e05a";
}
.icon-happy:before {
  content: "\e05b";
}
.icon-sad:before {
  content: "\e05c";
}
.icon-facebook:before {
  content: "\e05d";
}
.icon-twitter:before {
  content: "\e05e";
}
.icon-googleplus:before {
  content: "\e05f";
}
.icon-rss:before {
  content: "\e060";
}
.icon-tumblr:before {
  content: "\e061";
}
.icon-linkedin:before {
  content: "\e062";
}
.icon-dribbble:before {
  content: "\e063";
}
/* ==========================================================================
Time line
========================================================================== */
.cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 23px;
  height: 100%;
  width: 4px;
  background: $keyline-color;
  z-index: 0;
}
.cd-timeline {
  position: relative;
  .cd-timeline-date {
    border: 3px solid $accent-color;
    border-radius: 50%;
    background: $white-color;
    height: 50px;
    width: 50px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 42px;
    left: -30px;
  }
  .cd-timeline-content {
    margin-left: 40px;
  }
}
.quote {
  padding: 100px 0;
  background: url("../img/quote-bg.jpeg") fixed center center;
  -webkit-background-size: cover;
  background-size: cover;
  h1 {
    color: #fff;
    font-size: 35px;
    line-height: 35px;
    font-style: italic;
  }
  p.author {
    color: #fff;
    font-size: 18px;
  }
}
.cd-icon {
  line-height: 40px;
  color: $accent-color;
}

.section-header{
  line-height: 40px;
  font-size: 45px;
  text-align:center;
  padding-bottom:20px;
  text-transform: uppercase;
  margin-top:0px;
}
